.selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.button {
  background-color: lightblue;
  color: black;
  margin: 3px;
}

.historyToggle:focus {
  outline: none;
  border: 0;
}
